.headertext{
	display: block;
	 align-items: center; 
	 grid-template-columns: 1fr 1fr 1fr;
	 column-gap: 5px;
}

#afc {
	font-size: 50px;
	font: bold;
	font: italic;
	font-style: arial;
	text-align: center;
	
}

.footercontainer {
	color: white;
}

.AdministrationLogin{
	background-color: black; /* Green */

	color: white;
	text-align: center;
	padding: 15px 50px;
	display: block;
	font-size: 16px;
	cursor: pointer;
	width: 100vw;
	height: 40vh;
	position: absolute;
	top: 50px;
	right: 100px;
}

#schedule {
	background-color: black; /* Green */
	
	color: white;
	text-align: left;
	padding: 15px 50px;
	display: block;
	font-size: 16px;
	cursor: pointer;
	width: 50vw;
	height: 5vh;
	position: relative;
	/* top: 100px;
	right: 100px; */
}

#newofficial {
	background-color: black; /* Green */
	
	color: white;
	text-align: left;
	padding: 15px 50px;
	display: block;
	font-size: 16px;
	cursor: pointer;
	width: 50vw;
	height: 5vh;
	position: relative;
	/* top: 150px;
	right: 100px; */
}

