header {
	background-color: grey;
	border-style: solid;
	  border-width: 3px;
	
}

footer{
	background-color: black;
	padding: 50px;
  align-content: center;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.leftcontainer {
  display: flex;
  height: 700px;
  
  
}

.left-section {
  width: 25%;
  padding: 20px;
  height: 100%;
  background-color:beige;
  background: cover;
  border-style: solid;
  border-width: 3px;
  text-align: center;
}

.TravelButton:hover {
  background-color: green;
}

.TravelButton {
	background-color: black; /* Green */
	  border: aqua;
	  color: gold;
	  padding: 15px 15px;
	  text-align: center;
	  display: flex;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 40px;
	  width: 200px;
	  height: 40px;
}

#webmaster {
  color: cyan;
}






  .main-content {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    height: 100%;
  }

html {
	background-color: darkblue;
	padding: 20px;
}